.floatingAd {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    background-color: transparent;
}

@media (max-width: 1200px) {
    .floatingAd {
        display: none;
    }
}